.main {
  position: relative;
  display: flex;
  margin: 80px 150px 0 150px;
}

.main-left {
  width: 175px;
  margin-right: 20px;
}

.main-title {
  width: 155px;
  height: 52px;
}

.main-text {
  font-family: 'Montserrat-regular';
  font-size: 44px;
  line-height: 52px;
  color: #1D252E;
}

.main-description {
  width: 946px;
  height: 66px;
  margin-top: 87px;
  margin-bottom: 66px;
}

.description-text {
  font-family: 'Montserrat-regular';
  font-size: 16px;
  line-height: 22px;
  color: #1D252E;
}

/* Services list */

.nav {
  margin-top: 200px;
}

.nav-service {
  margin-bottom: 12px;
}

.nav-title, .nav-title-focus {
  display: flex;
  font-family: 'Montserrat-regular';
  font-size: 16px;
  line-height: 26px;
  color: #0084CA;
  cursor: pointer;
}

.nav-title-focus {
  text-decoration: underline;
}

.nav-title:hover {
  text-decoration: underline;
}

.nav-img, .nav-img-invert {
  display: flex;
  width: 12px;
  height: 6px;
  padding-left: 12px;
  background-image: url(../images/arrow-list.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 12px;
  align-self: center;
}

.nav-img-invert {
  transform: rotate(180deg);
}

.service-list {
  list-style: none;
}

.clothes-item, .clothes-item-focus {
  position: relative;
  display: flex;
  align-items: center;
  width: 155px;
  height: 32px;
  margin-top: 8px;
  cursor: pointer;
}

.clothes-item-focus {
  background-color: #F2F2F2;
}

.clothes-item-focus::before, .clothes-item:hover::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #F2F2F2;
  transform: rotate(45deg);
  left: 142px;
  border-radius: 4px;
  z-index: -1;
}

.clothes-item:hover {
  background-color: #F2F2F2;
}

.clothes-text {
  font-family: 'Montserrat-regular';
  font-size: 16px;
  line-height: 26px;
  color: #1D252E;
  padding-left: 8px;
}

/* Services list */


/* Search form */

.form, .form-line {
  display: flex;
  position: relative;
  width: 263px;
  height: 36px;
  margin-left: auto;
}

.form {
  border-bottom: 1px solid #2A3B45;
}

.form-line {
  border-bottom: 1px solid #FF0000;
}

.form-input {
  border: none;
  width: 90%;
  height: 100%;
  font-family: 'Montserrat-medium';
  font-size: 14px;
  line-height: 18px;
  color: #1D252E;
}

.form-input::placeholder {
  font-family: 'Montserrat-light';
  font-size: 14px;
  line-height: 18px;
  color: #1D252E;
  opacity: 0.4;
  padding-left: 3px;
}

.form-input:focus {
  outline: none;
}

.form-img, .form-img-active {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.form-img {
  width: 20px;
  height: 20px;
  background-image: url(../images/linsa.png);
}

.form-img-active {
  width: 12px;
  height: 12px;
  background-image: url(../images/close.png);
}

.form-error {
  position: absolute;
  top: 36px;
  font-family: 'Roboto-light';
  font-size: 10px;
  line-height: 16px;
  color: #FF0000;
}

/* Search form */


/* Clothes list */

.clothes-list {
  list-style: none;
}

.clothes-list-item {
  display: flex;
  width: 946px;
  height: 124px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-bottom: 8px;
}

.clothes-list-item:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.clothes-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px 60px;
}

.clothes-name {
  font-family: 'Montserrat-regular';
  font-size: 16px;
  line-height: 22px;
  color: #1D252E;
}


.clothes-more {
  display: flex;
  width: 110px;
  align-items: center;
  font-family: 'Montserrat-light';
  font-size: 14px;
  line-height: 18px;
  color: #2A3B45;
  cursor: pointer;
}

.clothes-more:hover {
  color: #0084CA;
}

.clothes-more:hover .more-img {
  background-image: url(../images/more-hover.png);
}

.more-img {
  display: flex;
  width: 13px;
  height: 13px;
  background-image: url(../images/more-arrow.png);
  margin-left: 8px;
}

.clothes-order {
  display: flex;
  margin: 34px 0 38px auto;
}

.clothes-price {
  font-family: 'Montserrat-bold';
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #1D252E;
}

.clothes-add {
  display: flex;
}

.add-btn {
  width: 52px;
  height: 52px;
  margin-left: 33px;
  margin-right: 53px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #0084CA;
  background-color: #0084CA;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #016DA6;
  border: 1px solid #016DA6;
}

.add-btn:focus {
  background-color: #0084CA;
  border: 1px solid #016DA6;
}

.add-btn::before {
  content: '';
  display: flex;
  width: 90%;
  height: 102%;
  background-image: url(../images/cart.png);
  background-position: center;
  background-repeat: no-repeat;
}

.add-amount {
  display: flex;
  justify-content: space-between;
  width: 90px;
  height: 40px;
  border: 1px solid #0084CA;
  border-radius: 4px;
  margin-left: 14px;
  margin-right: 34px;
  align-self: center;
}

.amount-decrement, .amount-increment {
  display: flex;
  width: 36px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.amount-decrement {
  background-image: url(../images/minus.png);
}

.amount-number {
  font-family: 'Montserrat-bold';
  font-size: 22px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #1D252E;
}

.amount-increment {
  background-image: url(../images/plus.png);
}

/* Clothes list */

/* Shopping cart */

.cart, .cart-long {
  display: flex;
  position: absolute;
  width: 520px;
  right: 0;
  bottom: -15px;
  background: #FFFFFF;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
  border-radius: 20px 0px 0px 0px;
  z-index: 1;
}

.cart {
  height: 158px;
}

.cart-long {
  top: 2px;
}

.cart-body {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 28px 0 auto 83px;
}

.cart-header {
  width: 100%;
  height: 130px;
}

.cart-title {
  font-family: 'Montserrat-bold';
  font-size: 24px;
  line-height: 30px;
  color: #0084CA;
}

.cart-amount, .cart-sum {
  display: flex;
  justify-content: space-between;
}

.cart-amount {
  margin-top: 20px;
}

.cart-amount-text, .cart-sum-text {
  font-family: 'Montserrat-regular';
  font-size: 18px;
  line-height: 22px;
  color: #1D252E;
}

.cart-sum {
  margin-top: 8px;
}

.cart-amount-number, .cart-sum-number {
  font-family: 'Montserrat-bold';
  font-size: 18px;
  line-height: 22px;
  color: #1D252E;
}

.order {
  margin-top: 15px;
  margin-bottom: 29px;
  padding-bottom: 19px;
  border-bottom: 1px solid #B0B0B0;
}

.order-title {
  width: 329px;
  border-bottom: 1px solid #B0B0B0;
}

.order-title-text {
  font-family: 'Montserrat-regular';
  font-size: 16px;
  line-height: 26px;
  color: #0084CA;
  padding-bottom: 12px;
}

.order-desc-close {
  display: flex;
  margin-top: 7px;
  margin-left: auto;
  width: 11px;
  height: 11px;
  background-image: url(../images/order-close.png);
  background-position: center;
  cursor: pointer;
}

.order-desc-body {
  display: flex;
  margin-top: 3.4px;
  width: 329px;
}

.order-desc-text {
  width: 225px;
  margin-top: 2px;
  font-family: 'Montserrat-regular';
  font-size: 10px;
  line-height: 16px;
  color: #1D252E;
}

.order-desc-amount {
  margin-left: auto;
}

.order-desc-sum {
  font-family: 'Montserrat-bold';
  font-size: 14px;
  line-height: 24px;
  color: #1D252E;
  text-align: right;
}

.order-desc-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  box-sizing: border-box;
  width: 67px;
  height: 26px;
  border: 1px solid #0084CA;
  border-radius: 4px;
}

.order-decrement, .order-increment {
  display: flex;
  width: 12.5px;
  height: 12.5px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.order-decrement {
  margin-left: 4px;
  background-image: url(../images/order-minus.png);
}

.order-increment {
  margin-right: 4px;
  background-image: url(../images/order-plus.png);
}

.order-number {
  font-family: 'Montserrat-bold';
  font-size: 16px;
  line-height: 24px;
  color: #1D252E;
}

.order-btn {
  display: flex;
  width: 224px;
  height: 60px;
  margin: 60px auto auto auto;
  background: #0084CA;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  font-family: 'Montserrat-bold';
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  cursor: pointer;
}

.order-btn:hover {
  background-color: #016DA6;
}

.order-btn:focus {
  background-color: #0084CA;
  border: 3px solid #016DA6;
}

.cart-arrow-btn, .cart-arrow-btn-invert {
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  display: flex;
  margin: 12px 12px auto 40px;
  border: 1px solid #0084CA;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}

.cart-arrow-btn-invert::before {
  transform: rotate(180deg);
}

.cart-arrow-btn::before, .cart-arrow-btn-invert::before {
  content: '';
  margin: auto;
  width: 12px;
  height: 12px;
  background-image: url(../images/cart-arrow.png);
  background-position: center;
}

.cart-arrow-btn:hover, .cart-arrow-btn-invert:hover {
  border: 2px solid #0084CA;
}

/* Shopping cart */

.none {
  display: none;
}