.main {
  display: flex;
  margin: 80px 150px;
}

.main-left {
  width: 175px;
  margin-right: 20px;
}

.main-title {
  width: 155px;
  height: 52px;
}

.main-text {
  font-family: 'Montserrat-regular';
  font-size: 44px;
  line-height: 52px;
  color: #1D252E;
}

.main-body {

}

.main-description {
  width: 946px;
  height: 66px;
  margin-top: 87px;
  margin-bottom: 66px;
}

.description-text {
  font-family: 'Montserrat-regular';
  font-size: 16px;
  line-height: 22px;
  color: #1D252E;
}

/* Services list */

.nav {
  margin-top: 200px;
}

.nav-service {
  margin-bottom: 12px;
}

.nav-title, .nav-title-focus {
  display: flex;
  font-family: 'Montserrat-regular';
  font-size: 16px;
  line-height: 26px;
  color: #0084CA;
  cursor: pointer;
}

.nav-title-focus {
  text-decoration: underline;
}

.nav-title:hover {
  text-decoration: underline;
}

.nav-img, .nav-img-invert {
  display: flex;
  width: 12px;
  height: 6px;
  padding-left: 12px;
  background-image: url(../images/arrow-list.png);
  background-size: cover;
  margin-left: 12px;
  align-self: center;
}

.nav-img-invert {
  transform: rotate(180deg);
}

.service-list {
  list-style: none;
}

.clothes-item, .clothes-item-focus {
  position: relative;
  display: flex;
  align-items: center;
  width: 155px;
  height: 32px;
  margin-top: 8px;
  cursor: pointer;
}

.clothes-item-focus {
  background-color: #F2F2F2;
}

.clothes-item-focus::before, .clothes-item:hover::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #F2F2F2;
  transform: rotate(45deg);
  left: 142px;
  border-radius: 4px;
  z-index: -1;
}

.clothes-item:hover {
  background-color: #F2F2F2;
}

.clothes-text {
  font-family: 'Montserrat-regular';
  font-size: 16px;
  line-height: 26px;
  color: #1D252E;
  padding-left: 8px;
}

/* Services list */


/* Search form */

.form, .form-line {
  display: flex;
  position: relative;
  width: 263px;
  height: 36px;
  margin-left: auto;
}

.form {
  border-bottom: 1px solid #2A3B45;
}

.form-line {
  border-bottom: 1px solid #FF0000;
}

.form-input {
  border: none;
  width: 90%;
  height: 100%;
  font-family: 'Montserrat-medium';
  font-size: 14px;
  line-height: 18px;
  color: #1D252E;
}

.form-input::placeholder {
  font-family: 'Montserrat-light';
  font-size: 14px;
  line-height: 18px;
  color: #1D252E;
  opacity: 0.4;
  padding-left: 3px;
}

.form-input:focus {
  outline: none;
}

.form-img, .form-img-active {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.form-img {
  width: 20px;
  height: 20px;
  background-image: url(../images/linsa.png);
}

.form-img-active {
  width: 12px;
  height: 12px;
  background-image: url(../images/close.png);
}

.form-error {
  position: absolute;
  top: 36px;
  font-family: 'Roboto-light';
  font-size: 10px;
  line-height: 16px;
  color: #FF0000;
}

/* Search form */


/* Clothes list */

.clothes-list {
  list-style: none;
}

.clothes-list-item {
  display: flex;
  width: 946px;
  height: 124px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-bottom: 8px;
}

.clothes-list-item:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.clothes-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px 60px;
}

.clothes-name {
  font-family: 'Montserrat-regular';
  font-size: 16px;
  line-height: 22px;
  color: #1D252E;
}


.clothes-more {
  display: flex;
  width: 110px;
  align-items: center;
  font-family: 'Montserrat-light';
  font-size: 14px;
  line-height: 18px;
  color: #2A3B45;
  cursor: pointer;
}

.clothes-more:hover {
  color: #0084CA;
}

.clothes-more:hover .more-img {
  background-image: url(../images/more-hover.png);
}

.more-img {
  display: flex;
  width: 13px;
  height: 13px;
  background-image: url(../images/more-arrow.png);
  margin-left: 8px;
}

.clothes-order {
  display: flex;
  margin: 34px 53px 38px auto;
}

.clothes-price {
  font-family: 'Montserrat-bold';
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  
  display: flex;
  align-items: center;
  text-align: right;
  color: #1D252E;
}

.clothes-add {

}

.add-btn {
  width: 52px;
  height: 52px;
  margin-left: 33px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #0084CA;
  background-color: #0084CA;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #016DA6;
  border: 1px solid #016DA6;
}

.add-btn:focus {
  background-color: #0084CA;
  border: 1px solid #016DA6;
}

.add-btn::before {
  content: '';
  display: flex;
  width: 90%;
  height: 102%;
  background-image: url(../images/cart.png);
  background-position: center;
  background-repeat: no-repeat;
}

.add-amount {

}

.amount-decrement {

}

.amount-number {

}

.amount-increment {

}

/* Clothes list */
